html, body {

    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    
    position: relative;

}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: 'Bebas Neue', cursive;
    margin: 8px;
}

p {
    margin: 8px;
    text-align: center;
}

ul {
    margin: 8px;
}


.fullScreen {
    min-height: 100vh; /* 100vh is dodgy on mobile */
    width: 100%;
}

.centreContent {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.sectionBox {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #151515;
    color: #FAFDF6;
    margin: 10px;
}

.ringer {
    font-family: 'Bebas Neue', cursive;
    background: white;
    border: none;
    color: black;
    border-radius: 15px;
    padding: 15px;
    font-size: 28px;
    margin: 8px;
}

.ringer:hover {
    background: lightgrey;
    cursor: pointer;
}

.ringer:active {
    background: darkgrey;
    cursor: pointer
}

@media (hover: none) {
    .ringer {
        color: black;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.overlay {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
}

.overlay.hidden {
    display: none;
}

.bellIconContainer {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 15px;
    padding: 15px;
}

.sectionBox.info {
    border: 6px solid cadetblue;
}

.sectionBox.bell {
    border: coral solid 6px;
}

.sectionBox.lights {
    border: lightcoral solid 6px;
}

.picker {
    margin: 8px;
}

.presetButton {
    margin-top: 8px;
    display: inline-block;
}
