html, body {

    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;

}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: 'Bebas Neue', cursive;
}

.fullScreen {
    height: 100%; /* 100vh is dodgy on mobile */
    width: 100%;
}

.centreContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comingSoonBox {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: #151515;
    color: #FAFDF6;
}

.ringer {
    background: white;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 15px;
    font-size: large;
    font-weight: bold;
}

.ringer:hover {
    background: lightgrey;
}

.ringer:active {
    background: darkgrey;
}
